*{
    margin: 0;
    padding: 0;
}
.main{
    width: 96rem;
    background: url(indexcoffee.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.form{
    width: 280px;
    height: 550px;
    background: linear-gradient(to top, rgba(0,0,0,0.3)50%,rgba(0,0,0,0.3)50%);
    position: absolute;
    top: 80px;
    left: 850px;
    border-radius: 10px;
    padding-left: 55px;
    padding-top: 55px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 40px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: sans-serif;
    margin-top: 30px;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: Arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 40px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
   transition: 0.4s;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 20px;
    text-align: center;
    margin-left: -42px;
    color: #fff;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
p{
    color: #fff;
    line-height: 60px; 
}
a{
    text-decoration: none;
    color: #ff7200;
}